[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
celery = "==5.5.0"
pandas = "*"
requests = "*"
python-dotenv = "*"

# 添加本地 cake 包
cake = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.8"
